In [52]:
import numpy as np
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt
data=pd.read_excel("Monthly Trip Report.xlsx")
df=pd.DataFrame(data)
#Convert string to date
#d_parser= lambda x:datetime.strptime(x,"%Y-%m-%d")
#data2=pd.read_excel("Detailed Event Report.xlsx",parse_dates=['Start Date'], date_parser=d_parser)
data2=pd.read_excel("Detailed Event Report.xlsx", parse_dates=['Start Date'])
df1=pd.DataFrame(data2)
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7796 entries, 0 to 7795
Data columns (total 19 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Driver Site Name                   7796 non-null   object
 1   Driver Name                        7796 non-null   object
 2   Driver ID                          7796 non-null   int64
 3   Asset Site Name                    7796 non-null   object
 4   Asset                              7796 non-null   object
 5   Registration Number                7796 non-null   object
 6   Asset ID                           7796 non-null   int64
 7   Event Description                  7796 non-null   object
 8   Start Date                         7796 non-null   datetime64[ns]
 9   Start Time                         7796 non-null   datetime64[ns]
 10  End Time                           7796 non-null   datetime64[ns]
 11  Nr of Occurrences                  7796 non-null   int64
 12  Event Value                        7796 non-null   float64
 13  Speed Limit (km/h)                 2503 non-null   float64
 14  Event Location                     2503 non-null   object
 15  Total Duration (hh:mm:ss)          7796 non-null   object
 16  End Location                       7546 non-null   object
 17  End Lat/Long                       7703 non-null   object
 18  Distance calculated from odo (km)  7796 non-null   float64
dtypes: datetime64[ns](3), float64(3), int64(3), object(10)
memory usage: 1.1+ MB

In [53]:
pivot_all=pd.pivot_table(df, index=["Driver Name"],columns='Month',values=['Distance (km)','Days With Trips'],fill_value=0,aggfunc={'Distance (km)':np.sum,'Days With Trips':np.sum})
pivot_all.head(20)

                     Days With Trips                  Distance (km)  \
Month                February - 2024 January - 2024 February - 2024
Driver Name
Abdallah IKORAT                   12             10         328.455
Abdihakim JES                     12              1         233.396
Abdul Karim KASUNGWA              12             25         943.068
Abdul Rashid OKELLO               19             20         886.397
Abdullah MUSINGUZI                13             25         727.673
Abel ABITEGEKA                    12             31         495.494
Abubaker BITATURE                  1              0           0.000
Abubaker KABWEGYERE               20             27        1044.209
Adam SSENOGA                      19             27        4332.923
Adnan BAVO                         9             10        2900.891
Adolf GONZA                        0             18           0.000
Ahmed FAISAL LEMIN                 4             20         107.979
Ahmed MUTIN                        9             13         188.975
Alain MICHEL                      23             30         317.159
Albert KAMURASI                    4             17         300.915
Alex MUHUMUZA                     15             12        2806.280
Alex NANKUNDA                     23             20        2059.963
Alex TABU                          3              0          92.603
Alex Tonny NYEKO                  21             20        1214.198
Alfred BITAMAZIRE                 20             19        1325.461


Month                January - 2024
Driver Name
Abdallah IKORAT             202.567
Abdihakim JES                 9.442
Abdul Karim KASUNGWA       2545.222
Abdul Rashid OKELLO        1364.029
Abdullah MUSINGUZI         1099.738
Abel ABITEGEKA             1484.358
Abubaker BITATURE             0.000
Abubaker KABWEGYERE        1454.996
Adam SSENOGA               3482.110
Adnan BAVO                 2183.267
Adolf GONZA                 820.324
Ahmed FAISAL LEMIN          876.413
Ahmed MUTIN                 301.498
Alain MICHEL                259.926
Albert KAMURASI             816.435
Alex MUHUMUZA              2344.534
Alex NANKUNDA              1289.837
Alex TABU                     0.000
Alex Tonny NYEKO           1486.203
Alfred BITAMAZIRE          1416.855

In [54]:
pivot_all.describe()

      Days With Trips                  Distance (km)
Month February - 2024 January - 2024 February - 2024 January - 2024
count      369.000000     369.000000      369.000000     369.000000
mean        14.317073      18.056911     1030.931014    1271.489949
std          6.127695       8.135370      892.442301    1054.638084
min          0.000000       0.000000        0.000000       0.000000
25%         11.000000      14.000000      326.548000     424.372000
50%         15.000000      20.000000      840.552000    1078.339000
75%         20.000000      24.000000     1420.346000    1846.356000
max         23.000000      31.000000     4332.923000    5409.517000

In [55]:
pivot_Violations=pd.pivot_table(df1, index=["Driver Name"],columns='Start Date',values=['Nr of Occurrences'],fill_value=0,aggfunc={'Nr of Occurrences':np.sum})
pivot_Violations.head(10)

                       Nr of Occurrences                      \
Start Date           2024-01-01 08:49:11 2024-01-01 09:16:57
Driver Name
Abdallah IKORAT                        0                   0
Abdihakim JES                          0                   0
Abdul Karim KASUNGWA                   0                   0
Abubaker KABWEGYERE                    0                   0
Adam SSENOGA                           0                   0
Adnan BAVO                             0                   0
Ahmed FAISAL LEMIN                     0                   0
Ahmed MUTIN                            0                   0
Alain MICHEL                           0                   0
Alex MUHUMUZA                          0                   0

                                                              \
Start Date           2024-01-01 09:22:21 2024-01-01 09:34:46
Driver Name
Abdallah IKORAT                        0                   0
Abdihakim JES                          0                   0
Abdul Karim KASUNGWA                   0                   0
Abubaker KABWEGYERE                    0                   0
Adam SSENOGA                           0                   0
Adnan BAVO                             0                   1
Ahmed FAISAL LEMIN                     0                   0
Ahmed MUTIN                            0                   0
Alain MICHEL                           0                   0
Alex MUHUMUZA                          0                   0

                                                              \
Start Date           2024-01-01 09:37:38 2024-01-01 09:44:01
Driver Name
Abdallah IKORAT                        0                   0
Abdihakim JES                          0                   0
Abdul Karim KASUNGWA                   0                   0
Abubaker KABWEGYERE                    0                   0
Adam SSENOGA                           0                   0
Adnan BAVO                             0                   0
Ahmed FAISAL LEMIN                     0                   0
Ahmed MUTIN                            0                   0
Alain MICHEL                           0                   0
Alex MUHUMUZA                          0                   0

                                                              \
Start Date           2024-01-01 09:44:34 2024-01-01 09:44:50
Driver Name
Abdallah IKORAT                        0                   0
Abdihakim JES                          0                   0
Abdul Karim KASUNGWA                   0                   0
Abubaker KABWEGYERE                    0                   0
Adam SSENOGA                           0                   0
Adnan BAVO                             0                   0
Ahmed FAISAL LEMIN                     0                   0
Ahmed MUTIN                            0                   0
Alain MICHEL                           0                   0
Alex MUHUMUZA                          0                   0

                                                              ...  \
Start Date           2024-01-01 09:45:26 2024-01-01 09:47:40  ...
Driver Name                                                   ...
Abdallah IKORAT                        0                   0  ...
Abdihakim JES                          0                   0  ...
Abdul Karim KASUNGWA                   0                   0  ...
Abubaker KABWEGYERE                    0                   0  ...
Adam SSENOGA                           0                   0  ...
Adnan BAVO                             0                   0  ...
Ahmed FAISAL LEMIN                     0                   0  ...
Ahmed MUTIN                            0                   0  ...
Alain MICHEL                           0                   0  ...
Alex MUHUMUZA                          0                   0  ...

                                                              \
Start Date           2024-02-24 16:12:59 2024-02-24 16:14:58
Driver Name
Abdallah IKORAT                        0                   0
Abdihakim JES                          0                   0
Abdul Karim KASUNGWA                   0                   0
Abubaker KABWEGYERE                    0                   0
Adam SSENOGA                           0                   0
Adnan BAVO                             0                   0
Ahmed FAISAL LEMIN                     0                   0
Ahmed MUTIN                            0                   0
Alain MICHEL                           0                   0
Alex MUHUMUZA                          0                   0

                                                              \
Start Date           2024-02-24 16:16:34 2024-02-24 16:17:30
Driver Name
Abdallah IKORAT                        0                   0
Abdihakim JES                          0                   0
Abdul Karim KASUNGWA                   0                   0
Abubaker KABWEGYERE                    0                   0
Adam SSENOGA                           0                   0
Adnan BAVO                             0                   0
Ahmed FAISAL LEMIN                     0                   0
Ahmed MUTIN                            0                   0
Alain MICHEL                           0                   0
Alex MUHUMUZA                          0                   0

                                                              \
Start Date           2024-02-24 16:23:48 2024-02-24 16:25:28
Driver Name
Abdallah IKORAT                        0                   0
Abdihakim JES                          0                   0
Abdul Karim KASUNGWA                   0                   0
Abubaker KABWEGYERE                    0                   0
Adam SSENOGA                           0                   0
Adnan BAVO                             0                   0
Ahmed FAISAL LEMIN                     0                   0
Ahmed MUTIN                            0                   0
Alain MICHEL                           0                   0
Alex MUHUMUZA                          0                   0

                                                              \
Start Date           2024-02-24 16:34:20 2024-02-24 17:00:12
Driver Name
Abdallah IKORAT                        0                   0
Abdihakim JES                          0                   0
Abdul Karim KASUNGWA                   0                   0
Abubaker KABWEGYERE                    0                   0
Adam SSENOGA                           0                   0
Adnan BAVO                             0                   0
Ahmed FAISAL LEMIN                     0                   0
Ahmed MUTIN                            0                   0
Alain MICHEL                           0                   0
Alex MUHUMUZA                          0                   0


Start Date           2024-02-24 17:11:18 2024-02-24 17:42:38
Driver Name
Abdallah IKORAT                        0                   0
Abdihakim JES                          0                   0
Abdul Karim KASUNGWA                   0                   0
Abubaker KABWEGYERE                    0                   0
Adam SSENOGA                           0                   0
Adnan BAVO                             0                   0
Ahmed FAISAL LEMIN                     0                   0
Ahmed MUTIN                            0                   0
Alain MICHEL                           0                   0
Alex MUHUMUZA                          0                   0

[10 rows x 7521 columns]

In [57]:
df1['Month']=df1['Start Date'].dt.month_name()
df1.groupby('Month')['Nr of Occurrences'].sum()

Month
February    4315
January     3481
Name: Nr of Occurrences, dtype: int64